<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite System  "http://testng.org/testng-1.0.dtd ">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Selenium_Basics" >
        <classes>
            <class name="com.spgtesting.selenium_Basics.TestSelenium01">

            </class>
        </classes>

    </test>
</suite>